@import "../../../sass/variables.scss";
@import "../../../sass/mixins.scss";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 6px;
  width: 100%;

  @include touchable;
}